body {
  background-color: #333;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#quiz {
  position: relative;
  width: 400px;
  background-color: #fff;
  border-radius: 4px;
  margin: 40px auto;
  padding: 10px;
}

#question {
  font-size: 18px;
  text-align: center;
}

#choices {
  list-style: none;
  padding: 0;
}

#choices > li {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  border-radius: 4px;
  transition: all 0.3s;
}

#choices > li:hover {
  cursor: pointer;
}

#choices > li.correct {
  background-color: #da5040;
  border-color: #da5040;
  color: #fff;
}
#choices > li.correct::after {
  content: ' ... correct!';
  color: #fff;
}


#choices > li.wrong {
  background-color: olivedrab;
  border-color: olivedrab;
  color: black;
}
#choices > li.wrong::after {
  content: ' ... wrong!';
  color: black;
}

#btn,
#score > a {
  text-align: center;
  background-color: olive;
  box-shadow: 0 4px 0 #333;
  border-radius: 4px;
  line-height: 40px;
  color: #fff;
  transition: all 0.3s;
}

#btn:hover {
  cursor: pointer;
}

#btn.disabled {
  background-color: #999;
  opacity: 0.7;
}

#score {
  position: absolute;
  width: 240px;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: gold;
  text-align: center;
  padding: 40px 10px;
  border-radius: 4px;
}

#score.hidden {
  top: -500px;
}

#score > p {
  font-size: 24px;
}

#score > a {
  display: block;
  text-decoration: none;
}